{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.org.new.title'|trans }}{% endblock %}

{% block page_title %}{{ 'admin.org.new.page_title'|trans }}{% endblock %}


{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title mb-0">{{ 'admin.org.new.card'|trans }}</h3>
            </div>
            <div class="card-body">
                {{ form_start(form, { attr: { class: 'stack-form adminlte-form' } }) }}
                    {{ form_row(form.name) }}
                    <h5 class="mt-3">{{ 'org.show.billing_section'|trans }}</h5>
                    {{ form_row(form.billingLine1) }}
                    {{ form_row(form.billingLine2) }}
                    <div class="form-row">
                        <div class="col-md-4">{{ form_row(form.billingPostalCode) }}</div>
                        <div class="col-md-5">{{ form_row(form.billingCity) }}</div>
                        <div class="col-md-3">{{ form_row(form.billingCountry) }}</div>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save mr-1"></i> {{ 'admin.org.new.submit'|trans }}</button>
                    <a href="{{ path('admin_organization_index') }}" class="btn btn-default border">{{ 'admin.org.new.cancel'|trans }}</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
